@import '@/scss/bulma-preset-overrides.scss';
@import "../../node_modules/bulma/bulma";

$steps-maker-default-color:	$app-background-color;
$steps-marker-default-border:	none;
$steps-default-color:	$grey-lighter;
$steps-completed-color:	$app-background-color;
$steps-active-color:	$interactive-navigation;
$steps-divider-height:	.1em;

.steps .step-item {
  color: $interactive-navigation-inactive;

  &.is-active {
    color: $interactive-navigation;

    .step-marker {
      color: $interactive-navigation !important;
      background-color: $app-background-color !important;
      border: .1em solid $interactive-navigation;
    }
  }

  &.is-completed {
    cursor: pointer;
    color: $interactive-navigation;

    &:hover {
      .step-marker {
        border: .1em solid $interactive-navigation;
      }
    }

    .step-marker {
      color: $interactive-navigation !important;
    }
  }

  .step-marker {
    color: $interactive-navigation-inactive !important;
  }
}