/* Main */

.log-output {
  background: black;
  color: white;
  margin: 20px 0;
  padding: 1rem;
  white-space: pre-wrap;
  @include courier;
}

.is-expandable::after {
  content: "-";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.is-collapsed::after {
  content: "+";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

a.disabled {
 pointer-events: none;
 cursor: default;
 color: #CCC;
}
