/* Utilities - General */

.vh-scrollable {
  height: calc(100vh - 3.25rem); // TODO properly import variable $navbar-height
  overflow-y: scroll;
  overflow-x: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}