/* Utilities - General */

.vh-scrollable {
  height: calc(100vh - 3.25rem); // TODO properly import variable $navbar-height
  overflow-y: scroll;
  overflow-x: hidden;
}

.flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}

.box-transparent {
  background-color: transparent;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.grayscale {
  /*
    We can turn this into a function or make more classes for specific grayscale values
    if we end up with the need for values below 100.
  */
  filter: grayscale(100%);
}