[Unit]
Description=Meltano UI
After=network.target

[Service]
Type=simple
User=meltano
WorkingDirectory=/var/meltano/project
Environment=FLASK_ENV=production
Environment=PATH=/var/meltano/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
ExecStartPre=/var/meltano/.venv/bin/meltano upgrade
ExecStart=/var/meltano/.venv/bin/meltano ui
#ExecStop=/bin/kill -s TERM $MAINPID
#ExecStopPost=/bin/rm -rf /var/meltano/project/.meltano/run
Restart=always

[Install]
WantedBy=multi-user.target
