.content {
  font-size: 14px;
  text-align: center;
  padding: 5px 20px;
}

@media all and (min-width: 1024px) {
  .content {
    font-size: 16px;
  }
}

.content a {
  color: inherit;
  text-decoration: underline;
}
