services:
  postgres:
    # NOTE: Support for PostgreSQL 14 ends on Nov 2026
    # https://endoflife.date/postgresql
    image: postgres:14
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
