*

!/LICENSE
!/README.md
!/VERSION
!/docs
!/extract
!/load
!/model
!/orchestrate
!/requirements.txt
!/setup.py
!/setup.cfg
!/MANIFEST.in
!/Makefile
!/src
!/scripts

!/transform
!/.pyre_configuration

docs/build
src/webapp/node_modules
src/webapp/dist
src/meltano/api/static
