*

!/LICENSE
!/README.md
!/VERSION
!/docs
!/extract
!/load
!/model
!/orchestrate
!/requirements.txt
!/setup.py
!/setup.cfg
!/MANIFEST.in
!/Makefile
!/src

!/transform
!/.pyre_configuration

docs/build
src/analyze/node_modules
src/analyze/dist
src/meltano/api/static
