*

!/LICENSE
!/README.md
!/VERSION
!/docs
!/pyproject.toml
!/poetry.lock
!/setup.py
!/setup.cfg
!/MANIFEST.in
!/Makefile
!/src
!/scripts
!/.pyre_configuration

docs/build
src/webapp/node_modules
src/webapp/dist
src/meltano/api/static
