image: python:3.6
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"

stages:
  - docs
  - build-base
  - build-meltano
  - pre-test
  - test
  - publish
  - distribute

include:
  - local: .gitlab/ci/global.gitlab-ci.yml
  - local: .gitlab/ci/docker.gitlab-ci.yml

  # build-base
  - local: .gitlab/ci/docker_base.gitlab-ci.yml

  # build-meltano
  - local: .gitlab/ci/docker_prod.gitlab-ci.yml
  - local: .gitlab/ci/docker_license_finder.gitlab-ci.yml

  # test
  - local: .gitlab/ci/test.gitlab-ci.yml
  - local: .gitlab/ci/test_webapp.gitlab-ci.yml
  - local: .gitlab/ci/sample_code.gitlab-ci.yml
  - local: .gitlab/ci/sample_code_windows.gitlab-ci.yml
  - local: .gitlab/ci/demo_project.gitlab-ci.yml
  - local: .gitlab/ci/sast.gitlab-ci.yml
  - local: .gitlab/ci/license_scanning.gitlab-ci.yml

  # publish
  - local: .gitlab/ci/publish.gitlab-ci.yml

  # manual (git-ops)
  - local: .gitlab/ci/gitops.gitlab-ci.yml
