image: python:3.6
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"

stages:
    - test
    - publish
    - build_base
    - build

cache:
  paths:
    - .cache/pip
    - venv/

.pipenv_install: &pipenv_install
  - pip install pipenv
  - pipenv run python --version
  - pipenv run pip install cython
  - pipenv install --dev
  - pipenv run pip install -e .

lint:
  stage: test
  before_script: *pipenv_install
  script:
  - pipenv run flake8
  allow_failure: true

test:
  stage: test
  before_script: *pipenv_install
  script:
  - pipenv run pytest 
  allow_failure: true
 
.run:
  script:
  - python setup.py bdist_wheel
  # an alternative approach is to install and run:
  - pip install dist/*
  # run the command here
  artifacts:
    paths:
    - dist/*.whl

.pages:
  script:
  - pip install sphinx sphinx-rtd-theme
  - cd doc ; make html
  - mv build/html/ ../public/
  artifacts:
    paths:
    - public
  only:
  - master

publish:
  stage: publish
  before_script:
  - pip install twine 
  script:
  - python setup.py sdist
  - twine upload dist/*
  only:
  - master
  - dev
  when: manual

.docker_build: &docker_build
  image: docker:latest
  stage: build
  variables:
    DOCKERFILE: .
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - export DOCKER_IMAGE_NAME=${IMAGE_NAME:-$CI_PROJECT_SLUG}
  - export DOCKER_IMAGE_TAG=${IMAGE_TAG:-$CI_COMMIT_REF_NAME}
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/$DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG -f $DOCKERFILE .
  - docker push $CI_REGISTRY_IMAGE/$DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG

.dev_build_meltano:
  <<: *docker_build
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: meltano
    DOCKERFILE: ./docker/Dockerfile
  except:
  - master

.build_meltano:
  <<: *docker_build
  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: meltano
    IMAGE_TAG: latest
    DOCKERFILE: ./docker/Dockerfile
  only:
  - master

meltano_base:
  image: docker:latest
  stage: build_base
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/meltano:base-$CI_COMMIT_REF_NAME -f app/images/base.Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/meltano:base-$CI_COMMIT_REF_NAME
  except:
  - master

meltano_full:
  image: docker:latest
  stage: build
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - sed -i "2s?.*?FROM $CI_REGISTRY_IMAGE/meltano:base-$CI_COMMIT_REF_NAME?" app/images/full.Dockerfile
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/meltano:full-$CI_COMMIT_REF_NAME -f app/images/full.Dockerfile .
  - docker push $CI_REGISTRY_IMAGE/meltano:full-$CI_COMMIT_REF_NAME
  except:
  - master

meltano_base:
  image: docker:latest
  stage: build_base
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - docker build -t meltano/meltano:base -f app/images/base.Dockerfile .
  - docker push meltano/meltano:base
  only:
  - master

meltano_full:
  image: docker:latest
  stage: build
  variables:
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  script:
  - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  - docker build -t meltano/meltano:full -f app/images/full.Dockerfile .
  - docker push meltano/meltano:full
  only:
  - master
