[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
click = "*"
meltano-common = ">=0.2.0-dev"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6"
