[pipenv]
allow_prereleases = true

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
click = "*"
meltano-common = "==0.3.0-dev0"
# why do we need to install these transitive deps here?
futures = "==3.1.1"
pyarrow = "==0.9.0"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6.6"
