[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
"psycopg2" = "*"
flask-cors = "*"
gitpython = "*"
markdown = "*"
flask-sqlalchemy = "*"
pypika = "*"
pandas = "*"
pyyaml = "*"
aiohttp = "*"
dbt = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pytest = "*"
bpython = "*"

[requires]
python_version = "3.6.6"
