[tool.poetry]
name = "meltano"
version = "2.1.0"
description = "Meltano: Your DataOps Platform Infrastructure"
authors = ["Meltano <hello@meltano.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/meltano/meltano"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
include = [
  # Explicitly include non-Python files and gitignored files:
  "LICENSE",
  "*.m5o",
  "src/meltano/api/static/css/*",
  "src/meltano/api/static/js/*",
  "src/meltano/api/templates/webapp.html",
  "src/meltano/api/templates/embed.html",
  "src/meltano/core/tracking/.release_marker"
]

[tool.poetry.dependencies]
aiodocker = "^0.21.0"
aiohttp = "^3.4.4"
alembic = "^1.5.0"
async_generator = "^1.10"
atomicwrites = "^1.2.1"
authlib = "^0.10"
cached-property = "^1" # Remove after Python 3.7 support is dropped
bcrypt = "^3.2.0"  # Needs to be installed explicitly so it can be used as a backend for passlib
click = "^7.0"
click-default-group = "^1.2.1"
email-validator = "^1.1.2"
fasteners = "^0.15.0"
flask = "^1"
flask-cors = "^3.0.7"
flask-executor = "^0.9.2"
flask-restful = "^0.3.7"
flask-sqlalchemy = "^2.4.4"
flatten-dict = "^0"
gunicorn = "^19.9.0"
ipython = "^7.5.0"
jsonschema = "^3.0.0"
markdown = "^3.0.1"
MarkupSafe = "<2.1.0"
meltano-flask-security = "^0.1.0"
networkx = "^2.2"
psutil = "^5.6.3"
psycopg2-binary = "^2.8.5"
pyhocon = "^0.3.51"
pyhumps = "^3.0.0"
pypika = "^0.25.1"
python = ">=3.7,<3.10"
python-dotenv = "^0.14.0"
python-gitlab = "^1.8.0"
pyyaml = "^5.3.1"
requests = "^2.23.0"
simplejson = "^3.16.0"
smtpapi = "^0.4.1"
snowflake-sqlalchemy = "^1.2.3"
snowplow-tracker = "^0.10.0"
sqlalchemy = "^1.3.19"
sqlparse = "^0.3.0"
structlog = "^21.2.0"
tzlocal = "^4.2.0"
uvicorn = {extras = ["standard"], version = "^0.17.6"}
watchdog = "^0.9.0"
werkzeug = "^1"
PyMySQL = {version = "^1.0.2", optional = true}
pymssql = {version = "^2.2.5", optional = true}

[tool.poetry.extras]
infra = ["ansible"]
mysql = ["pymysql"]
mssql = ["pymssql"]

[tool.poetry.dev-dependencies]
asynctest = "^0.12.2"
black = "^21.12b0"
bumpversion = "^0.6.0"
changelog-cli = "^0.6.2"
colorama = "^0.4.4"
coverage = "^4.5.4"
freezegun = "^0.3.12"
isort = "^5.10.1"
mock = "^4.0.3"
mypy = "^0.960"
pre-commit = "^2.9.2"
pylint = "^2.12.2"
pytest = "^4.3.1"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.6.1"
pyupgrade = "^2.29.1"
requests-mock = "^1.6.0"
tox = "^3.24.4"
wemake-python-styleguide = "^0.15.3"
flake8-bandit = "==2.1.2"
bandit = "==1.7.2"

[tool.poetry.scripts]
meltano = "meltano.cli:main"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
src_paths = ["src/", "tests/"]
skip_glob = ["*.md", "*.vue", "*.js"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
