[tool.poetry]
name = "meltano"
version = "2.11.0"
description = "Meltano: Your DataOps Platform Infrastructure"
authors = ["Meltano <hello@meltano.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/meltano/meltano"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
# Explicitly include non-Python files and gitignored files:
include = [
  "LICENSE",
  "*.m5o",
  "src/meltano/api/static/css/*",
  "src/meltano/api/static/js/*",
  "src/meltano/api/templates/embed.html",
  "src/meltano/api/templates/webapp.html",
  "src/meltano/core/tracking/.release_marker",
]
keywords = [
  "Meltano",
  "ELT",
  "Data integration",
  "singer-io",
  "dbt",
]
documentation = "https://docs.meltano.com"
homepage = "https://meltano.com"

[tool.poetry.urls]
"Issue Tracker" = "https://github.com/meltano/meltano/issues"
"Twitter" = "https://twitter.com/meltanodata/"
"Changelog" = "https://github.com/meltano/meltano/blob/main/CHANGELOG.md"
"Slack" = "https://meltano.com/slack"
"Youtube" = "https://www.youtube.com/meltano"

[tool.poetry.dependencies]
aiodocker = "^0.21.0"
aiohttp = "^3.4.4"
alembic = "^1.5.0"
atomicwrites = "^1.2.1"
authlib = "^1.0.1"
cached-property = "^1" # Remove after Python 3.7 support is dropped
backoff = "^2.1.2"
bcrypt = "^3.2.0" # Needs to be installed explicitly so it can be used as a backend for passlib
click = "^8.1"
click-default-group = "^1.2.1"
croniter = "^1.3.5"
email-validator = "^1.1.2"
fasteners = "^0.17.3"
flask = "^2.1"
flask-cors = "^3.0.7"
flask-executor = "^0.10"
flask-login = "==0.6.1" # https://github.com/meltano/meltano/issues/6548
flask-restful = "^0.3.7"
flask-sqlalchemy = "^2.4.4"
flatten-dict = "^0"
gunicorn = "^20.1.0"
jsonschema = "^4.9"
markdown = "^3.3.7"
meltano-flask-security = "^0.1.0"
packaging = "^21.3"
psutil = "^5.6.3"
psycopg2-binary = "^2.8.5"
pyhumps = "^3.0.0"
pymssql = {version = "^2.2.5", optional = true}
python = ">=3.7,<3.11"
python-dotenv = "^0.20.0"
python-gitlab = "^3.5.0"
pyyaml = "^6.0.0"
requests = "^2.23.0"
"ruamel.yaml" = "^0.17.21"
smtpapi = "^0.4.1"
snowplow-tracker = "^0.10.0"
sqlalchemy = "^1.3.19"
structlog = "^21.2.0"
tzlocal = "^4.2.0"
uvicorn = {extras = ["standard"], version = "^0.17.6"}
werkzeug = ">=2.1,<=2.1.3"
rich = "^12.5.1"
google-cloud-storage = {version = ">=1.31.0", optional = true}
boto3 = {version = "^1.25.3", optional = true}
azure-storage-blob = {version = "^12.14.1", optional = true}
azure-common = {version = "^1.1.28", optional = true}
azure-core = {version = "^1.26.0", optional = true}
smart-open = {version = "^6.2.0"}

[tool.poetry.extras]
infra = ["ansible"]
mssql = ["pymssql"]
repl = ["ipython"]
s3 = ["boto3"]
gcs = ["google-cloud-storage"]
azure = ["azure-storage-blob", "azure-common", "azure-core"]

[tool.poetry.dev-dependencies]
black = "^22.3.0"
bumpversion = "^0.6.0"
changelog-cli = "^0.6.2"
colorama = "^0.4.4"
coverage = {extras = ["toml"], version = "^6.4.1"}
commitizen-version-bump = { git = "https://github.com/meltano/commitizen-version-bump.git", branch = "main" }
freezegun = "^0.3.12"
isort = "^5.10.1"
mock = "^4.0.3"
mypy = "^0.960"
pre-commit = "^2.9.2"
pylint = "^2.12.2"
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
pytest-cov = "^3.0.0"
pytest-docker = "^1.0"
pytest-order = "^1.0"
pytest-randomly = "^3.12"
pytest-xdist = "^2.5"
pyupgrade = "^2.29.1"
requests-mock = "^1.6.0"
setproctitle = "^1.3" # Used by pytest-xdist to aid with handling resource intensive processes.
tox = "^3.24.4"
types-croniter = "^1.3.2"
types-requests = "^2.28.9"
wemake-python-styleguide = "^0.16.1"

[tool.poetry.scripts]
meltano = "meltano.cli:main"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88
src_paths = [
  "src/",
  "tests/",
]
skip_glob = [
  "*.md",
  "*.vue",
  "*.js",
  "src/meltano/migrations/versions/*",
]
add_imports = [
    "from __future__ import annotations",
]

[tool.pytest.ini_options]
addopts = "--cov=meltano --cov=tests --doctest-modules --order-scope=module -ra -n auto --dist=loadfile"
testpaths = "tests"
log_cli = 1
log_cli_level = "CRITICAL"
log_cli_format = "%(message)s"
log_file = "pytest.log"
log_file_level = "DEBUG"
log_file_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_file_date_format="%Y-%m-%d %H:%M:%S"
asyncio_mode = "auto"
markers = [
  "backend(type): backend specific test",
  "meta: meta test",
  "concurrent: test requires true concurrency",
  "slow: slow test",
]

[tool.coverage.run]
concurrency = [
  "multiprocessing",
  "thread",
]
parallel = true
branch = true
source = ["meltano"]

[tool.coverage.paths]
source = [
  "src/meltano",
  "**/site-packages/meltano",
  "**/site-packages/meltano*/meltano",
]

[tool.coverage.report]
show_missing = true
skip_covered = true
precision = 2
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
    "\\.\\.\\.",
]

[tool.commitizen]
name = "cz_version_bump"
version = "2.11.0"
tag_format = "v$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:^version =",
    "src/meltano/__init__.py:^__version__ =",
    'package.json:^  "version":',
    'src/webapp/package.json:^  "version":',
    'docs/package.json:^  "version":',
]

[tool.mypy]
files = "src"
plugins = [
  "sqlalchemy.ext.mypy.plugin",
]

# The following whitelist is used to allow for incremental adoption
# of MyPy. Modules should be removed from this whitelist as and when
# their respective type errors have been addressed. No new modules
# should be added to this whitelist.
[[tool.mypy.overrides]]
module = [
  "meltano.api.*",
  "meltano.cli.*",
  "meltano.oauth.*",
  # Way too many modules at the root of meltano.core to tackle them all at once
  # so listing them individually here.
  "meltano.core.cli_messages",
  "meltano.core.config_service",
  "meltano.core.connection_service",
  "meltano.core.db",
  "meltano.core.discovery_file",
  "meltano.core.elt_context",
  "meltano.core.environment",
  "meltano.core.environment_service",
  "meltano.core.extract_utils",
  "meltano.core.extractor",
  "meltano.core.meltano_file",
  "meltano.core.meltano_invoker",
  "meltano.core.migration_service",
  "meltano.core.models",
  "meltano.core.plugin_discovery_service",
  "meltano.core.plugin_install_service",
  "meltano.core.plugin_invoker",
  "meltano.core.plugin_location_remove",
  "meltano.core.plugin_lock_service",
  "meltano.core.plugin_remove_service",
  "meltano.core.plugin_test_service",
  "meltano.core.project",
  "meltano.core.project_add_service",
  "meltano.core.project_files",
  "meltano.core.project_init_service",
  "meltano.core.project_plugins_service",
  "meltano.core.project_settings_service",
  "meltano.core.schedule",
  "meltano.core.select_service",
  "meltano.core.setting",
  "meltano.core.setting_definition",
  "meltano.core.settings_service",
  "meltano.core.settings_store",
  "meltano.core.sqlalchemy",
  "meltano.core.state_service",
  "meltano.core.task_sets",
  "meltano.core.task_sets_service",
  "meltano.core.transform_add_service",
  "meltano.core.upgrade_service",
  "meltano.core.validation_service",
  "meltano.core.venv_service",
  "meltano.core.yaml",
  # Meltano Core submodules
  "meltano.core.behavior.*",
  "meltano.core.block.*",
  "meltano.core.bundle.*",
  "meltano.core.compiler.*",
  "meltano.core.container.*",
  "meltano.core.job.*",
  "meltano.core.legacy_tracking.*",
  "meltano.core.logging.*",
  "meltano.core.m5o.*",
  "meltano.core.plugin.*",
  "meltano.core.runner.*",
  "meltano.core.sql.*",
  "meltano.core.tracking.*",
  "meltano.core.utils.*",
]
ignore_errors = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
