aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
Click==7.0
configparser==3.5.0
idna==2.7
multidict==4.4.2
numpy==1.15.2
pandas==0.23.4
psycopg2==2.7.5
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.12
urllib3==1.23
yamlordereddictloader==0.4.0
yarl==1.2.6
