<html>
  <head>
    <style>
      body {
          padding-top: 5em;
          text-align: center;
      }
      code {
          display: inline-block;
          width: 300px;
          white-space: pre-wrap;
          word-wrap: break-word;
          color: #363636;
          padding: 1em;
          border: 1px dashed lightgray;
      }
      .close {
          color: gray;
      }
    </style>
  </head>
  <body>
    <h1>Your access token</h1>
    <code>{{ token.access_token }}</code>
    <p class="close">You can now close this window.</p>
  </body>
</html>
