.usecaseSwiper {
  height: 400px;
}

@media all and (min-width: 768px) {
  .usecaseSwiper {
    height: 320px;
  }
}
@media all and (min-width: 996px) {
  .usecaseSwiper {
    height: 420px;
  }
}

@media all and (min-width: 1280px) {
  .usecaseSwiper {
    height: 450px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 2rem;
  border: 1px solid rgba(8, 2, 22, 0.15);
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 3;
  @media all and (min-width: 768px) {
    padding: 30px;
  }
}

[data-theme="dark"] {
  .card {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
  svg {
    width: 32px;
    height: 32px;
  }
  h3 {
    margin-bottom: 0;
  }
}

.swiperWrapper {
  width: 100%;
  position: relative;
}

.swiperPrev {
  width: 36px;
  height: 36px;
  position: absolute;
  left: -5px;
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjUgMjUuNUw5IDE4TTkgMThMMTYuNSAxMC41TTkgMThMMjcgMTgiIHN0cm9rZT0iIzA4MDIxNiIgc3Ryb2tlLW9wYWNpdHk9IjAuNzUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHJlY3QgeD0iMzUuNSIgeT0iMzUuNSIgd2lkdGg9IjM1IiBoZWlnaHQ9IjM1IiByeD0iMTcuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCAzNS41IDM1LjUpIiBzdHJva2U9IiMwODAyMTYiIHN0cm9rZS1vcGFjaXR5PSIwLjc1Ii8+Cjwvc3ZnPgo=);
  @media all and (min-width: 768px) {
    left: -50px;
  }
}

[data-theme="dark"] {
  .swiperPrev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjUgMjUuNUw5IDE4TTkgMThMMTYuNSAxMC41TTkgMThMMjcgMTgiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLW9wYWNpdHk9IjAuNzUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHJlY3QgeD0iMzUuNSIgeT0iMzUuNSIgd2lkdGg9IjM1IiBoZWlnaHQ9IjM1IiByeD0iMTcuNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCAzNS41IDM1LjUpIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS1vcGFjaXR5PSIwLjc1Ii8+Cjwvc3ZnPgo=);
  }
}

.swiperNext {
  width: 36px;
  height: 36px;
  position: absolute;
  right: -5px;
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjUgMTAuNUwyNyAxOE0yNyAxOEwxOS41IDI1LjVNMjcgMThIOSIgc3Ryb2tlPSIjMDgwMjE2IiBzdHJva2Utb3BhY2l0eT0iMC43NSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjM1IiBoZWlnaHQ9IjM1IiByeD0iMTcuNSIgc3Ryb2tlPSIjMDgwMjE2IiBzdHJva2Utb3BhY2l0eT0iMC43NSIvPgo8L3N2Zz4K);
  @media all and (min-width: 768px) {
    right: -50px;
  }
}

[data-theme="dark"] {
  .swiperNext {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjUgMTAuNUwyNyAxOE0yNyAxOEwxOS41IDI1LjVNMjcgMThIOSIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2Utb3BhY2l0eT0iMC43NSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjM1IiBoZWlnaHQ9IjM1IiByeD0iMTcuNSIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2Utb3BhY2l0eT0iMC43NSIvPgo8L3N2Zz4K);
  }
}

.button {
  color: var(--ligth-button-text-color);
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-weight: 500;
  font-family: IBM Plex Mono, Arial, sans-serif;
  padding: 12px 20px;
  transition: all 0.2s ease;
}

.button:hover {
  text-decoration: none;
}

.button span {
  border-radius: 4.6px;
  content: "";
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: add, add;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  position: absolute;
  z-index: -1;
}

.button span:before {
  background: linear-gradient(270deg, #f963bc, #3a64fa);
  content: "";
  left: 50%;
  padding-bottom: 120%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: transform 0.2s linear;
  width: 120%;
}

.button:hover span::before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.usecaseHeader:after {
  content: url(../../../static/img/homepage/bg-ellipse-center.svg);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
  opacity: 0.5;
  pointer-events: all;
  z-index: 0;
}
