<!DOCTYPE html>
<html>
  <head>
    <title>Logging in to Meltano Cloud</title>
    <style>
      #start-message {
        display: block;
      }

      #success-message {
        display: none;
      }

      #error-message {
        display: none;
      }
    </style>
    <script type="text/javascript">
      function handleResponse(response) {
        document.getElementById("start-message").style.display = "none";
        if (!response.ok) {
          document.getElementById("error-message").style.display = "block";
        } else {
          document.getElementById("success-message").style.display = "block";
        }
        window.close();
      }
      function sendTokens() {
        fetch(
          `http://localhost:{{ port }}/tokens?${window.location.hash.substring(1)}`
        ).then((response) => handleResponse(response));
      }
      window.onload = sendTokens;
    </script>
  </head>

  <body>
    <p id="start-message">Logging in to Meltano Cloud...</p>
    <p id="success-message">Logged in. You may close this window.</p>
    <p id="error-message">Login failed. You may close this window.</p>
  </body>
</html>
