.docItemContainer header+*,
.docItemContainer article>*:first-child {
  margin-top: 0;
}

.docItemContainer {
  padding: 0 var(--ifm-spacing-horizontal);
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
    padding: 0;
  }
}
