.docItemContainer header+*,
.docItemContainer article>*:first-child {
  margin-top: 0;
}

.docItemContainer {
  padding: 0;
  z-index: 3;
}

.tocWrapper {
  margin-top: -17px;
  width: 100%;
  transition: all 0.2s ease;
  position: sticky;
  top: 82px;
  height: fit-content;
}

.tocWrapper ul {
  padding-left: 1rem;
}

.tocWrapper ul ul {
  list-style-type: square;
}

.tocHidden {
  width: 1px;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
    padding: 0;
  }
}
