{$HOSTNAME}
basicauth /static/js meltano htpasswd=/etc/caddy/htpasswd

# use a self-signed certificate for the initial setup
tls self_signed

# enable the Let's Encrypt certificate routine
# warning: only do this if the DNS is propagated
# or else you might blow the daily failure limit
#tls admin@meltano.com

proxy / localhost:5000 {
  transparent
}
gzip