# https://gitlab.com/help/user/project/code_owners

# Default codeowner
* @bencodezen @derek-knox @iroussos @mbergeron @DouweM @dmor

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level
