$accentColor = #464acb
$accentHighlightColor = lighten($accentColor, 10%)
$accentDarkColor = lighten($accentColor, 30%)

$badgeTipColor = $accentHighlightColor

// Don't change syntax highlighting in light mode
$codeBgLightColor = $codeBgColor
$preTextLightColor = $preTextColor
