$accentColor = #464acb
$accentHighlightColor = lighten($accentColor, 10%)
$badgeTipColor = $accentHighlightColor

$origNavbarHeight = 3.6rem
$bannerHeight = 2.2rem
$navbarHeight = $origNavbarHeight + $bannerHeight
