@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../fonts/HankenGrotesk-Regular.woff2') format('woff2'),
      url('../fonts/HankenGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
  scroll-behavior: smooth;
  background-color: #E9E5FB;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Hanken Grotesk, IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #080216;
}

a, a:hover {
  color: #3A64FA;
}

.content a:hover {
  text-decoration: underline;
}

hr {
  background-color: #311772;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Plus Jakarta Sans";
}

.navbar {
  background-color: #311772;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.navbar-brand {
  height: 100%;
}

.navbar-brand .navbar-item {
  padding: 0.1rem 0.75rem 0.5rem;
}

.navbar a {
  color: #311772;
}

.navbar-burger {
  height: auto;
  color: #fff !important;
}

.navbar-end {
  display: flex;
  justify-content: center;
}

@media (min-width: 1216px) {
  .navbar a {
    color: #ffffff;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
}

.navbar-item img {
  max-height: none;
}

a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link {
  color: #18c3fa;
  background-color: inherit;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: white;
}

.navbar-item.has-dropdown:hover .navbar-link:not(.is-arrowless)::after {
  border-color: #18c3fa;
}

.navbar-item.has-dropdown:hover .navbar-dropdown .navbar-item {
  color: #080216;
}

.tab > * > a, .menu-list a, .breadcrumb a, .breadcrumb li + li::before {
  color: rgb(98, 98, 110);
}

.breadcrumb a:hover {
  color: #311772;
}

.content {
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background: #201936;
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer h1, .footer h2, .footer h3 {
  color: white;
}

.title, .content h1 {
  color: #311772;
}

.chiclet {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  flex-direction: column;
  height: 100%;
}

/*.chiclet a:hover {
  color: #ffffff;
  background-color: var(--primary);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}*/

.chiclet-header {
  box-shadow: none;
}

.search-searchbar {
  max-width: 100%;
  margin-bottom: 15px;
}

.post-item {
  margin-bottom: 30px;
}

.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}

.post-breadcrumbs {
  color: #424242;
  display: block;
}

.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}

.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}

.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}

.post-snippet img {
  display: none;
}

.menu-list a.is-active {
  background-color: #311772;
  color: #fff;
}

.container .content #table-of-contents {
  margin-bottom: 1em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #62626e;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #311772;
}

h2 {
  border-bottom: #311772 solid 4px;
  padding-bottom: 7px;
}

code {
  color: #311772;
}

/* Table of Contents Styles */

.toc {
  position: fixed;
}

.toc h2 {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 4px;
  border: none;
}

.section-nav {
  margin: 5px 0;
  padding: 10px 10px 10px 10px;
  overflow: auto;
  width: 100%;
}

.section-nav a {
  display: inline-block;
  text-decoration: none;
  line-height: 2rem;
}

.section-nav a:hover,
.section-nav a:focus {
  text-decoration: underline;
}

li .toc-entry {
  padding-left: 1rem;
}

.announcement {
  background-color: #031d4d;
  text-align: center;
}

.announcement p {
  color: #ffffff;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

.announcement a {
  color: #fbbf52;
}
