@import "../css/variables";

.heroBanner {
  text-align: center;
  color: $base-color;
  background-color: $base-bgcolor;
}

// @media screen and (min-width: 768px) {
//   .heroBanner {
//     padding: 4rem;
//   }
// }
