$contentClass = '.theme-default-content'

$accentColor ?= #3eaf7c
$accentDarkColor ?= $accentColor

$textColor ?= #2c3e50
$textDarkColor ?= #e2e2e2

$borderColor ?= #eaecef
$borderDarkColor ?= #4e4e4e

$codeBgColor ?= #282c34
$codeBgLightColor ?= #f8f8f8

$arrowBgColor ?= #ccc
$arrowBgDarkColor ?= $arrowBgColor

$badgeTipColor ?= #42b983
$badgeTipDarkColor ?= $badgeTipColor

$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeWarningDarkColor ?= $badgeWarningColor

$badgeErrorColor ?= #DA5961
$badgeErrorDarkColor ?= $badgeErrorColor

$preTextColor ?= #fff
$preTextLightColor ?= #525252

$highlightedBgColor ?= rgba(0, 0, 0, .66)
$highlightedBgLightColor ?= rgba(224, 224, 224, 0.5)

$languageTextColor ?= rgba(255, 255, 255, 0.4)
$languageTextLightColor ?= rgba(0, 0, 0, 0.4)

$lineNumbersColor ?= rgba(255, 255, 255, 0.3)
$lineNumbersLightColor ?= rgba(0, 0, 0, 0.3)

$miniCodeBgColor ?= rgba(27,31,35,0.05)
$miniCodeBgDarkColor ?= rgba(255,255,255,0.1)

$bgColor ?= #fff
$bgDarkColor ?= #25272a

$kbdBgColor ?= #eee
$kbdBgDarkColor ?= #444

$blockquoteTextColor ?= #999
$blockquoteTextDarkColor ?= #eee

$blockquoteBorderColor ?= #dfe2e5
$blockquoteBorderDarkColor ?= #666b6f

$tableBorderColor ?= #dfe2e5
$tableBorderDarkColor ?= $borderDarkColor

$tableStripeBgColor ?= #f6f8fa
$tableStripeBgDarkColor ?= #444

$tipColor ?= $textColor
$tipDarkColor ?= $textDarkColor

$tipBgColor ?= #f3f5f7
$tipBgDarkColor ?= #3e3b3b

$warningColor ?= #e7c000
$warningDarkColor ?= $warningColor

$warningBgColor ?= rgba(255, 229, 100, 0.3)
$warningBgDarkColor ?= rgba(185, 174, 119, 0.3)

$dangerColor ?= #c00
$dangerDarkColor ?= $dangerColor

$dangerBgColor ?= #ffe6e6
$dangerBgDarkColor ?= rgba(255, 214, 214, 0.3)

$searchBorderColor ?= #999
$searchBorderDarkColor ?= #eee
