name: Benchmarks

on:
  pull_request:
    paths:
      - src/**
      - tests/benchmarks/**
      - uv.lock
      - .github/workflows/benchmark.yml
  push:
    branches: [main]
    paths:
      - src/**
      - tests/benchmarks/**
      - uv.lock
      - .github/workflows/benchmark.yml
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: "1"
  UV_PYTHON_DOWNLOADS: "never"

permissions:
  contents: read

jobs:
  benchmark:
    name: "Run benchmarks with CodSpeed"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Check out the repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - name: Setup uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

    - name: Install dependencies
      run: |
        uv sync --group testing

    - name: Run benchmarks
      uses: CodSpeedHQ/action@dbda7111f8ac363564b0c51b992d4ce76bb89f2f # v4.5.2
      with:
        mode: simulation
        run: uv run pytest tests/benchmarks/ --codspeed
