name: Benchmarks

on:
  pull_request:
    paths:
      - src/**
      - tests/benchmarks/**
      - uv.lock
      - .github/workflows/benchmark.yml
  push:
    branches:
      - main
      - 'v*'
    paths:
      - src/**
      - tests/benchmarks/**
      - uv.lock
      - .github/workflows/benchmark.yml
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: "1"
  UV_PYTHON_DOWNLOADS: "never"

permissions:
  contents: read

jobs:
  benchmark:
    name: "Run benchmarks with CodSpeed"
    runs-on: codspeed-macro
    timeout-minutes: 10

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: 3.13.11

    - name: Setup uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        python-version: ${{ steps.setup-python.outputs.python-version }}

    - name: Install dependencies
      run: |
        uv sync --group testing

    - name: Run benchmarks
      uses: CodSpeedHQ/action@4deb3275dd364fb96fb074c953133d29ec96f80f # v4.10.6
      with:
        mode: walltime
        run: uv run pytest tests/benchmarks/ --codspeed -p no:randomly
