name: Build

on:
  push:
    branches-ignore:
    - 'gh-readonly-queue/**'
    paths:
    - .github/actions/docker-build-scan-push/action.yml
    - .github/workflows/build.yml
    - docker/meltano/Dockerfile
    - src/meltano/migrations/**
    - scripts/**
    - pyproject.toml
  workflow_dispatch:
  schedule:
  # Weekly on Sunday at 04:45 UTC
  - cron: '45 4 * * 0'
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Wheel and SDist
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.baipp.outputs.package_name }}
      version: ${{ steps.baipp.outputs.package_version }}

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.x

    - name: Check version
      if: github.event_name == 'release' && github.event.action == 'published'
      run: |
        version=$(uvx --from toml-cli toml get --toml-path=pyproject.toml project.version)
        tag=$(echo "${GITHUB_REF}" | awk '{split($0,p,"/"); print p[3]}')
        if [ "v$version" != $tag ]; then echo "Release tag ('$tag') and package version ('v$version') do not match!"; exit 1; fi;

    - name: uv install
      # Required to run `alembic_freeze.py`
      run: |
        uv sync

    - name: Freeze DB
      run: |
        uv run scripts/alembic_freeze.py

    - name: Release Marker
      if: github.event_name == 'release' && github.event.action == 'published'
      # The release marker differentiates installations 'in the wild' versus internal dev builds and tests
      run: touch src/meltano/core/tracking/.release_marker

    - name: Build distribution
      uses: hynek/build-and-inspect-python-package@efb823f52190ad02594531168b7a2d5790e66516 # v2.14.0
      id: baipp

  build_docker:
    name: Docker Images (${{ matrix.slim && 'Slim' || 'Full' }}, Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    needs: build
    permissions:
      actions: read # read the actions of the repo
      contents: read # read the contents of the repo
      packages: write # write the packages to the repo
      security-events: write # create security reports for the repo
    env:
      DEFAULT_PYTHON: "3.10"  # will be used in 'latest' images

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        slim:
        - false
        - true

    steps:
    - name: Set the workflow inputs
      id: set-inputs
      env:
        REGISTRY: ${{ github.event_name == 'release' && github.event.action == 'published' && 'docker.io' || 'ghcr.io' }}
      # This step makes it so that the same workflow inputs can be accessed
      # regardless of what event triggered it.
      run: |
        echo "registry=$REGISTRY" >> $GITHUB_OUTPUT
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

    - name: Generate tags
      id: generate-tags
      run: >
        python scripts/generate_docker_tags.py
        --git-sha $GITHUB_SHA
        --package-version ${NEEDS_BUILD_OUTPUTS_VERSION}
        --python-version $PYTHON_VERSION
        --default-python ${DEFAULT_PYTHON}
        --registry ${STEPS_SET_INPUTS_OUTPUTS_REGISTRY}
        > tags
      env:
        DOCKER_TAGS_SLIM: ${{ matrix.slim && '1' || '0' }}
        GITHUB_SHA: ${{ github.sha }}
        NEEDS_BUILD_OUTPUTS_VERSION: ${{ needs.build.outputs.version }}
        PYTHON_VERSION: ${{ matrix.python-version }}
        STEPS_SET_INPUTS_OUTPUTS_REGISTRY: ${{ steps.set-inputs.outputs.registry }}

    - name: Assemble image tags
      id: assemble-tags
      run: |
        echo "If this is not a dry run, the image will be published with the following tags:"
        cat tags

        echo 'IMAGE_TAGS<<EOF' >> $GITHUB_ENV
        echo "$(cat tags)" >> $GITHUB_ENV
        echo 'EOF' >> $GITHUB_ENV

    - name: Set registry username and password
      id: user-and-pass
      run: |
        if [[ "${STEPS_SET_INPUTS_OUTPUTS_REGISTRY}" == "ghcr.io" ]]; then
          echo "username=${GITHUB_ACTOR}" >> $GITHUB_OUTPUT
          echo "password=${GITHUB_TOKEN}" >> $GITHUB_OUTPUT
        fi
        if [[ "${STEPS_SET_INPUTS_OUTPUTS_REGISTRY}" == "docker.io" ]]; then
          echo "username=meltano" >> $GITHUB_OUTPUT
          echo "password=${DOCKERHUB_TOKEN}" >> $GITHUB_OUTPUT
        fi
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        STEPS_SET_INPUTS_OUTPUTS_REGISTRY: ${{ steps.set-inputs.outputs.registry }}

    - name: Build, scan, then conditionally push the Docker image for a given Python version
      uses: ./.github/actions/docker-build-scan-push
      with:
        # Push to the container registry if
        # - The trigger is a push to the main branch
        # - The trigger is a workflow dispatch
        # - The trigger is a release and the action is 'published'
        push: ${{ ( github.event_name == 'push' && github.ref == 'refs/heads/main' ) || ( github.event_name == 'workflow_dispatch' ) || ( github.event_name == 'release' && github.event.action == 'published' )}}
        token: ${{ secrets.GITHUB_TOKEN }}
        tags: ${{ env.IMAGE_TAGS }}
        registry: ${{ steps.set-inputs.outputs.registry }}
        username: ${{ steps.user-and-pass.outputs.username }}
        password: ${{ steps.user-and-pass.outputs.password }}
        python-version: ${{ matrix.python-version }}
        slim: ${{ matrix.slim }}

  pypi_release:
    name: Publish to PyPI
    if: github.event_name == 'release' && github.event.action == 'published'
    needs: [build, build_docker]
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Needed for OIDC PyPI publishing
    environment:
      name: publishing
      url: https://pypi.org/project/${{ needs.build.outputs.name }}/${{ needs.build.outputs.version }}

    steps:
    - name: Check out the repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: Packages
        path: dist

    - name: Publish
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
