name: 'Dependency Review'

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3

      - name: 'GitHub Dependency Review'
        uses: actions/dependency-review-action@v2

      - name: 'Run FOSSA Scan'
        uses: fossas/fossa-action@v1.3.1
        with:
          api-key: ${{ secrets.MELTYBOT_FOSSA_API_KEY }}
          branch: ${{ github.ref_name || 'main' }}

      - name: 'Check scan output'
        run: |
          echo 'v================================================================================v'
          cat /tmp/fossa-analyze-scan-summary.txt
          echo '^================================================================================^'

      - name: 'Run FOSSA Test'
        uses: fossas/fossa-action@v1.3.1
        with:
          api-key: ${{ secrets.MELTYBOT_FOSSA_API_KEY }}
          run-tests: true
