name: Docker Publish

# This workflow will build and publish all public Docker images to the configured registry.
# Set the input `dry-run` to `false` to skip pushing images to the registry.

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Dry run (skip push step)"
        type: boolean
        required: true
        default: true
      registry:
        description: "Where to upload the images"
        required: true
        type: choice
        options:
          - ghcr.io
          - docker.io

jobs:
  public_docker_build:
    runs-on: ubuntu-latest
    env:
      # Boolean values don't actually work so cast to 'true' and 'false'
      # https://github.com/actions/runner/issues/1483
      DRY_RUN_STR: ${{ format('{0}', github.event.inputs.dry-run) || 'true' }}

    strategy:
      fail-fast: false
      matrix:
        include:
        - python-version: "3.7"
          is-default-python: false
        - python-version: "3.8"
          is-default-python: false
        - python-version: "3.9"
          is-default-python: true # will be used in 'latest' images
        - python-version: "3.10"
          is-default-python: false

    steps:
    - uses: actions/checkout@v3

    - name: Get Meltano version
      id: get-meltano-version
      run: |
        pipx install poetry
        poetry version
        poetry version --short
        echo "::set-output name=release-version::$(poetry version --short)"

    # These exist to show if 'dry-run' flag is set as intended and correctly parsed from inputs
    - name: Print dry-run message (if applicable)
      if: ${{ env.DRY_RUN_STR == 'true' }}
      run: |
        echo "DRY_RUN=${{ github.event.inputs.dry-run }}"
        echo "NOTE: This job is a dry run and will not publish any images."

    - name: Print publish message (if applicable)
      if: ${{ env.DRY_RUN_STR == 'false' }}
      run: |
        echo "DRY_RUN=${{ github.event.inputs.dry-run }}"
        echo "NOTE: This job is planning to publish the docker images."
        echo "⚠️ If this is not intended, please cancel this job."

    - name: Assemble image tags
      id: assemble-tags
      run: |
        # To save space, only publish the `latest` tag for each images to the GitHub registry
        if [[ "${{ github.event.inputs.registry }}" != "ghcr.io" ]]; then
          echo "meltano/meltano:v${{ steps.get-meltano-version.outputs.release-version }}-python${{ matrix.python-version }}" >> tags
          [[ "${{ matrix.is-default-python }}" == "true" ]] && echo "meltano/meltano:SHA-${{ github.sha }}" >> tags
          [[ "${{ matrix.is-default-python }}" == "true" ]] && echo "meltano/meltano:v${{ steps.get-meltano-version.outputs.release-version }}" >> tags
        fi
        echo "meltano/meltano:latest-python${{ matrix.python-version }}" >> tags
        [[ "${{ matrix.is-default-python }}" == "true" ]] && echo "meltano/meltano:latest" >> tags

        TAGS=$(cat tags)
        TAGS="${TAGS//'%'/'%25'}"
        TAGS="${TAGS//$'\n'/'%0A'}"
        TAGS="${TAGS//$'\r'/'%0D'}"

        echo "If this is not a dry run, the image will be published with the following tags:"
        cat tags
        echo "::set-output name=tags::$TAGS"

    - name: Set registry username and password
      id: user-and-pass
      run: |
        if [[ "${{ github.event.inputs.registry }}" == "ghcr.io" ]]; then
          echo "::set-output name=username::${{ github.actor }}"
          echo "::set-output name=password::${{ secrets.GITHUB_TOKEN }}"
        fi
        if [[ "${{ github.event.inputs.registry }}" == "docker.io" ]]; then
          echo "::set-output name=username::meltano"
          echo "::set-output name=password::${{ secrets.DOCKERHUB_TOKEN }}"
        fi

    - name: Build, scan, then conditionally push the Docker image for a given Python version
      uses: ./.github/actions/docker-build-scan-push
      with:
        push: ${{ env.DRY_RUN_STR == 'false' }}
        token: ${{ secrets.GITHUB_TOKEN }}
        tags: ${{ steps.assemble-tags.output }}
        build-args: |
          PYTHON_VERSION=${{ matrix.python-version }}
          MELTANO_VERSION=${{ steps.get-meltano-version.outputs.release-version }}
        registry: ${{ github.event.inputs.registry }}
        username: ${{ steps.user-and-pass.outputs.username }}
        password: ${{ steps.user-and-pass.outputs.password }}
        python-version: ${{ matrix.python-version }}
