name: Lint Snowplow Schemas

on:
  pull_request:
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  push:
    branches: [main]
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  iglulint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Iglu Schema Lint
        uses: ./.github/actions/igluctl-lint
        with:
          path_to_schemas: './src/meltano/core/tracking/iglu-client-embedded/'
