name: Lint Snowplow Schemas

on:
  pull_request:
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  push:
    branches: [main]
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  iglulint:
    name: Schema Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Iglu Schema Lint
        uses: ./.github/actions/igluctl-lint
        with:
          path_to_schemas: './src/meltano/core/tracking/iglu-client-embedded/'
