name: Lint Snowplow Schemas

on:
  pull_request:
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  push:
    branches: [main, v3]
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  iglulint:
    name: Schema Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Iglu Schema Lint
        uses: ./.github/actions/igluctl-lint
        with:
          path_to_schemas: './src/meltano/core/tracking/iglu-client-embedded/'
