name: Lint Snowplow Schemas

on:
  pull_request:
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  push:
    branches: [main]
    paths:
      - 'src/meltano/core/tracking/iglu-client-embedded/**'
  workflow_dispatch:
    inputs: {}

jobs:
  iglulint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2

      - name: Iglu Schema Lint
        uses: ./.github/actions/igluctl
