name: PR pre-commit checks

on:
  pull_request: {}
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2

      - name: Setup Python 3.7
        uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.7
          architecture: x64

      - name: Get added/modified files
        id: file_changes
        uses: trilom/file-changes-action@v1.2.4
        with:
          prNumber: ${{ github.event.number }}
          output: ' '

      - name: pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: '--files ${{ steps.file_changes.outputs.files_added }} ${{ steps.file_changes.outputs.files_modified }}'
