name: Slash commands dispatcher

on:
  issue_comment:
    types: [created]
jobs:
  publish_release:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
          issue-type: pull-request
          permission:
            write
          commands: |
            publish
