name: Version bump

on:
  workflow_dispatch:
    inputs:
      bump:
        description: "Version bump type"
        required: true
        type: choice
        default: auto
        options:
        - auto
        - patch
        - minor
        - major
      prerelease:
        description: "Increase to this prerelease version"
        required: false
        type: choice
        default: none
        options:
        - none
        - alpha
        - beta
        - rc

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  create_release_branch_pr:
    name: Create Release Pull Request
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    permissions:
      contents: write       # to create a github release
      pull-requests: write  # to create and update PRs

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.x"

    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        enable-cache: false

    - name: Bump version
      id: cz-bump
      uses: commitizen-tools/commitizen-action@9615e7be1cf341393c52e865ebbdaa0712176d81 # 0.25.0
      with:
        increment: ${{ github.event.inputs.bump != 'auto' && github.event.inputs.bump || '' }}
        prerelease: ${{ github.event.inputs.prerelease != 'none' && github.event.inputs.prerelease || '' }}
        commit: "false"
        push: "false"
        changelog: ${{ github.event.inputs.prerelease == 'none' && 'true' || 'false' }}
        github_token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
        extra_requirements: 'git+https://github.com/meltano/commitizen-version-bump@main'
        changelog_increment_filename: ${{ github.event.inputs.prerelease == 'none' && '_changelog_fragment.md' || '' }}

    - name: Update uv.lock
      run: uv lock

    - name: Draft Release
      id: draft-release
      if: ${{ github.event.inputs.prerelease == 'none' }}
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        draft: true
        body_path: ${{ github.event.inputs.prerelease == 'none' && '_changelog_fragment.md' || '' }}
        tag_name: v${{ steps.cz-bump.outputs.version }}
        prerelease: ${{ github.event.inputs.prerelease != 'none' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      id: create-pull-request
      with:
        # https://github.com/peter-evans/create-pull-request
        token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
        commit-message: "chore: Bump package version"
        title: "chore: Release v${{ steps.cz-bump.outputs.version }}"
        body: |
          Bump changelog for release v${{ steps.cz-bump.outputs.version }}
        branch: release/v${{ steps.cz-bump.outputs.version }}
        labels: release
        assignees: "${{ github.actor }}"
