name: Version bump

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version Number"
        type: string
        required: true
        default: 2.0.0
      force:
        description: "Force Push (ignore validation)"
        type: boolean
        required: true
        default: false

jobs:
  create_release_branch_pr:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    permissions:
      contents: write       # to create a github release
      pull-requests: write  # to create and update PRs

    steps:
    - uses: actions/checkout@v2

    - name: Validate version input
      if: ${{ github.event.inputs.force != true }}
      id: validate-version
      uses: ./.github/actions/validate-version-sequence
      with:
        version-proposed: ${{ github.event.inputs.version }}
    - name: Debug version bump type
      run: echo "${{ steps.validate-version.outputs.bump-type }}"

    - name: Conventional Changelog Action
      uses: saadmk11/changelog-ci@v1.0.0
      id: auto-changelog
      with:
        # https://github.com/saadmk11/changelog-ci
        github-token: ${{ secrets.ACTIONS_BOT_TOKEN }}
        release_version: ${{ github.event.inputs.version }}
        changelog_filename: CHANGELOG.md
        config_file: .github/workflows/resources/changelog-ci.config.yml
        # committer_username: 'test'
        # committer_email: 'test@test.com'

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        # Version of Poetry to use
        version: 1.1.13
        virtualenvs-create: true
        virtualenvs-in-project: true
    - name: Set up Python
      uses: actions/setup-python@v4.0.0
      with:
        # https://github.com/actions/setup-python
        python-version: 3.9
        architecture: x64
        cache: 'poetry'
    - name: Poetry install
      run: |
        poetry install

    - name: Bump version and auto-changelog
      run: |
        BUMP_TYPE="${{ steps.validate-version.outputs.bump-type }}"
        poetry run cz --changelog --files-only --increment=$BUMP_TYPE --yes

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      id: create-pull-request
      with:
        # https://github.com/peter-evans/create-pull-request
        commit-message: version bump and changelog (auto)
        title: Release v${{ github.event.inputs.version }}
        body: |
          Bump changelog for release v${{ github.event.inputs.version }}
        branch: release/v${{ github.event.inputs.version }}
        base: main
        labels: release

    - name: Approve Pull Request
      if: ${{ steps.create-pull-request.outputs.pull-request-number != 0 }}
      uses: juliangruber/approve-pull-request-action@v1.1.1
      with:
        # https://github.com/juliangruber/approve-pull-request-action
        github-token: ${{ secrets.ACTIONS_BOT_TOKEN }}
        number: ${{ steps.create-pull-request.outputs.pull-request-number }}
