homepage_sample_code:
  stage: test
  image: python:3.6
  variables:
    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: meltano
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: demo-warehouse

    # `tap-covid-19` extractor configuration
    # TAP_COVID_19_API_TOKEN: set through https://gitlab.com/meltano/meltano/-/settings/ci_cd

    MELTANO_DISABLE_TRACKING: "true"
  services:
    - postgres:11
  script:
    ### https://meltano.com/#installation

    # For these examples to work, ensure that:
    # - you are running Linux or macOS
    # - Python 3.6 or 3.7 (NOT 3.8) has been installed
    - python3 --version

    # Create directory for Meltano projects
    - mkdir meltano-projects
    - cd meltano-projects

    # Create and activate virtual environment
    - python3 -m venv .venv
    - source .venv/bin/activate

    # Install Meltano
    - pip3 install ..


    ### https://meltano.com/#meltano-init

    # Initialize a new Meltano project
    - meltano init demo-project

    # Before using a `meltano` command, ensure that:
    # - you have navigated to your Meltano project
    - cd demo-project
    # - you have activated the virtual environment
    - source ../.venv/bin/activate


    ### ---
    # Always use the latest discovery file
    - ln -s ../../src/meltano/core/bundle/discovery.yml
    ### ---


    ### https://meltano.com/#integration

    # Add GitLab extractor to your project
    - meltano add extractor tap-gitlab

    # Configure tap-gitlab to extract data from...
    # - the https://gitlab.com/meltano/meltano project
    - meltano config tap-gitlab set projects meltano/meltano
    # - going back to May 1st, 2020
    - meltano config tap-gitlab set start_date 2020-05-01T00:00:00Z

    # Add JSONL loader
    - meltano add loader target-jsonl

    # Ensure target-jsonl output directory exists
    - mkdir -p output

    # Run data integration pipeline
    - meltano elt tap-gitlab target-jsonl --job_id=gitlab-to-jsonl

    # Read latest tag
    - head -n 1 output/tags.jsonl


    ### https://meltano.com/#transformation

    # For these examples to work, ensure that:
    # - you have PostgreSQL running somewhere
    # - you have created a new database
    # - you change the configuration below as appropriate

    # Add PostgreSQL loader
    - meltano add loader target-postgres

    # Configure target-postgres through the environment
    - export PG_ADDRESS=$POSTGRES_ADDRESS
    - export PG_PORT=$POSTGRES_PORT
    - export PG_USERNAME=$POSTGRES_USER
    - export PG_PASSWORD=$POSTGRES_PASSWORD
    - export PG_DATABASE=$POSTGRES_DB

    # Add PostgreSQL-compatible dbt models for tap-gitlab
    - meltano add transformer dbt
    - meltano add transform tap-gitlab

    # Run data integration and transformation pipeline
    - meltano elt tap-gitlab target-postgres --transform=run --job_id=gitlab-to-postgres

    # Start `psql` shell connected to warehouse database
    - apt-get update -y
    - apt-get install -y postgresql-client # Only do this now to ensure Meltano can be installed without PostgreSQL
    - PGPASSWORD=$PG_PASSWORD psql -U $PG_USERNAME -h $PG_ADDRESS -p $PG_PORT -d $PG_DATABASE -c "SELECT * FROM analytics.gitlab_tags LIMIT 1;"


    ### https://meltano.com/#orchestration

    # Schedule pipelines
    - meltano schedule gitlab-to-jsonl tap-gitlab target-jsonl @hourly
    - meltano schedule gitlab-to-postgres tap-gitlab target-postgres @daily --transform=run

    # List scheduled pipelines
    - meltano schedule list

    # Add Airflow orchestrator
    - meltano add orchestrator airflow

    ### ---
    # View Airflow version
    - meltano invoke airflow version
    ### ---

    # Start the Airflow scheduler (add `-D` to background)
    # meltano invoke airflow scheduler

    # Start the Airflow web interface (add `-D` to background)
    # meltano invoke airflow webserver


    ### https://meltano.com/#containerization

    # For these examples to work, ensure that
    # Docker has been installed
    # docker --version

    # Add Docker files to your project
    - meltano add files docker

    # Build Docker image containing
    # Meltano, your project, and all of its plugins
    # docker build --tag meltano-demo-project:dev .

    # View Meltano version
    # docker run meltano-demo-project:dev --version

    # Run gitlab-to-jsonl pipeline with
    # mounted volume to exfiltrate target-jsonl output
    # docker run \
    #   --volume $(pwd)/output:/project/output \
    #   meltano-demo-project:dev \
    #   elt tap-gitlab target-jsonl --job_id=gitlab-to-jsonl

    # Run gitlab-to-postgres pipeline with
    # target-postgres configuration in environment
    # docker run \
    #   --env PG_ADDRESS=host.docker.internal \
    #   --env PG_PORT=5432 \
    #   --env PG_USERNAME=meltano \
    #   --env PG_PASSWORD=meltano \
    #   --env PG_DATABASE=demo-warehouse \
    #   meltano-demo-project:dev \
    #   elt tap-gitlab target-postgres --transform=run --job_id=gitlab-to-postgres

    # For these examples to work, ensure that
    # you have an account on GitLab.com or
    # a self-hosted GitLab instance with
    # GitLab CI/CD and Container Registry enabled

    # Add GitLab CI/CD files to your project
    - meltano add files gitlab-ci

    # Initialize Git repository, if you haven't already
    # git init

    # Add and commit all files
    # git add -A
    # git commit -m "Set up Meltano project with Docker and GitLab CI"

    # Push to GitLab, which will automatically create
    # a new private project at the specified path
    # NAMESPACE="<your-gitlab-username-or-group>"
    # git push git@gitlab.com:$NAMESPACE/meltano-demo-project.git master


    ### https://meltano.com/#meltano-config

    # List all plugin settings with their names,
    # environment variables, and current values
    - meltano config tap-covid-19 list

    # Store non-sensitive plugin configuration in
    # your project's `meltano.yml` file
    - meltano config tap-covid-19 set start_date 2020-01-01T00:00:00Z
    - meltano config tap-covid-19 set user_agent "tap-covid-19 via Meltano via GitLab CI"

    # Store sensitive plugin configuration in...
    # - the current shell environment:
    # export TAP_COVID_19_API_TOKEN="<your-github-api-token>"
    # - OR a (gitignored) `.env` file:
    # meltano config tap-covid-19 set api_token <your-github-api-token>

    # Unset specific setting
    # meltano config tap-covid-19 unset start_date

    # Reset configuration back to defaults
    # meltano config tap-covid-19 reset

    # View current configuration
    - meltano config tap-covid-19


    ### https://meltano.com/#meltano-select

    # List all available entities and attributes
    - "[[ $TAP_COVID_19_API_TOKEN ]] && meltano select --list --all tap-covid-19 || echo '$TAP_COVID_19_API_TOKEN is not set'"

    # Include all attributes of an entity
    - meltano select tap-covid-19 eu_ecdc_daily "*"

    # Include specific attributes of an entity
    - meltano select tap-covid-19 eu_daily date
    - meltano select tap-covid-19 eu_daily country
    - meltano select tap-covid-19 eu_daily cases
    - meltano select tap-covid-19 eu_daily deaths

    # Exclude matching attributes of all entities
    - meltano select tap-covid-19 --exclude "*" "git_*"

    # List selected (enabled) entities and attributes
    - "[[ $TAP_COVID_19_API_TOKEN ]] && meltano select --list tap-covid-19 || echo '$TAP_COVID_19_API_TOKEN is not set'"

    # Set stream metadata for all matching entities
    - meltano config tap-covid-19 set _metadata "eu_*" replication-method INCREMENTAL
    - meltano config tap-covid-19 set _metadata "eu_*" replication-key date

  artifacts:
    paths:
      - meltano-projects/demo-project/meltano.yml
      - meltano-projects/demo-project/output
    when: always
