publish:
  extends: .only:version-tags
  image:
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    entrypoint: [""]
  stage: publish
  before_script:
    - pip install twine
  script:
    - twine upload /meltano/dist/*

# registry.gitlab.com/meltano/meltano:<tag>-python<version> → docker.io/meltano:<tag>-python<version>
# registry.gitlab.com/meltano/meltano:latest-python<version> → docker.io/meltano:latest-python<version>
# registry.gitlab.com/meltano/meltano:<tag> → docker.io/meltano:<tag>
# registry.gitlab.com/meltano/meltano:latest → docker.io/meltano:latest
hub_meltano:
  extends:
    - .parallel:image_tag_suffix
    - .only:version-tags
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  variables:
    DOCKERFILE: .
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: meltano/meltano
    IMAGE_TAG: $CI_COMMIT_TAG
    SOURCE_IMAGE: $CI_REGISTRY_IMAGE
  script:
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD

    - docker pull $SOURCE_IMAGE:$IMAGE_TAG$IMAGE_TAG_SUFFIX
    - docker tag $SOURCE_IMAGE:$IMAGE_TAG$IMAGE_TAG_SUFFIX $IMAGE_NAME:$IMAGE_TAG$IMAGE_TAG_SUFFIX
    - docker push $IMAGE_NAME:$IMAGE_TAG$IMAGE_TAG_SUFFIX

    - docker pull $SOURCE_IMAGE:latest$IMAGE_TAG_SUFFIX
    - docker tag $SOURCE_IMAGE:latest$IMAGE_TAG_SUFFIX $IMAGE_NAME:latest$IMAGE_TAG_SUFFIX
    - docker push $IMAGE_NAME:latest$IMAGE_TAG_SUFFIX
