.test:
  extends: .parallel:python_image_version
  stage: test
  image:
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python$PYTHON_IMAGE_VERSION
    entrypoint: [""]
  before_script:
    - pip install poetry

    # Workaround for https://github.com/python-poetry/poetry/issues/3199
    - poetry config experimental.new-installer false

    - poetry install

.fast_test:
  extends: .test
  needs: []
  image:
    name: python:${PYTHON_IMAGE_VERSION}
    entrypoint: [""]

lint_python:
  extends: .fast_test
  parallel:
    matrix:
      # Lint only on 'primary' python version:
      - PYTHON_IMAGE_VERSION: ["3.8"]
  before_script: []
  script:
    - git remote add meltano https://github.com/meltano/meltano.git || return 0
    - |
      git fetch meltano main;
      echo "Comparing to main";
    - 'declare FILES=$(git diff --name-only ${CI_COMMIT_SHA} meltano/main | grep "\.py$")'
    - |
      if [ -n "${FILES}" ]; then
        echo "Changed files are\n$FILES";
        pip install poetry;
        poetry install --no-root;
        make show_lint_python $(echo $FILES | xargs);
      else
        echo "Nothing to lint"
      fi

lint_eslint:
  extends: .test
  parallel:
    matrix:
      # Lint only on 'primary' python version:
      - PYTHON_IMAGE_VERSION: ["3.8"]
  script:
    - make show_lint_eslint

.pytest:
  extends: .test
  script:
    - poetry run pytest -v --cov-report= --cov meltano -m "$PYTEST_MARKERS"
    - poetry run coverage combine .coverage
    - poetry run coverage report
    - poetry run coverage html
  artifacts:
    paths:
      - htmlcov/
    when: on_success

.pytest_postgres:
  extends: .pytest
  variables:
    PYTEST_BACKEND: postgresql

    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: runner
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: pytest_warehouse

    # `target-postgres` configuration
    TARGET_POSTGRES_HOST: $POSTGRES_ADDRESS
    TARGET_POSTGRES_PORT: $POSTGRES_PORT
    TARGET_POSTGRES_USER: $POSTGRES_USER
    TARGET_POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    TARGET_POSTGRES_DBNAME: $POSTGRES_DB
  services:
    - postgres:11

.pytest_sqlite:
  extends: .pytest
  variables:
    PYTEST_BACKEND: sqlite

    # `target-sqlite` configuration
    SQLITE_DATABASE: pytest_warehouse

.pytest_concurrent:
  variables:
    PYTEST_MARKERS: concurrent
  tags:
    - concurrent
  when: manual

pytest_fast:
  extends:
    - .pytest_sqlite
    - .fast_test
  variables:
    PYTEST_MARKERS: not concurrent

pytest_postgres:
  extends: .pytest_postgres
  variables:
    PYTEST_MARKERS: not concurrent

pytest_postgres_concurrent:
  extends:
    - .pytest_postgres
    - .pytest_concurrent

pytest_sqlite:
  extends: .pytest_sqlite
  variables:
    PYTEST_MARKERS: not concurrent

pytest_sqlite_concurrent:
  extends:
    - .pytest_sqlite
    - .pytest_concurrent

# Image is ignored due to https://docs.gitlab.com/ee/ci/runners/saas/windows_saas_runner.html#limitations-and-known-issues which is why we have to install our dependencies manually
pytest_windows:
  extends:
    - .pytest
    - .windows:defaults
  tags:
    - shared-windows
    - windows
    - windows-1809
  script:
    - poetry run pytest -v --cov-report= --cov meltano -m $env:PYTEST_MARKERS
    - poetry run coverage combine .coverage
    - poetry run coverage report
    - poetry run coverage html
  before_script:
    - Import-Module "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
    - choco install python --version=$env:PYTHON_IMAGE_VERSION -y
    - RefreshEnv
    - python -m pip install --user pipx
    - python -m pipx ensurepath
    - RefreshEnv
    - pipx install poetry
    - poetry install
  variables:
    PYTEST_MARKERS: not concurrent
