.test:
  extends: .parallel:python_image_version
  stage: test
  image:
    name: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA-python$PYTHON_IMAGE_VERSION
    entrypoint: [""]
  before_script:
    - pip install poetry

    - pip install tox

    # Workaround for https://github.com/python-poetry/poetry/issues/3199
    - poetry config experimental.new-installer false

    - poetry install

.fast_test:
  extends: .test
  needs: []
  image:
    name: python:${PYTHON_IMAGE_VERSION}
    entrypoint: [""]

lint_python:
  extends: .fast_test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'
  parallel:
    matrix:
      # Lint only on 'primary' python version:
      - PYTHON_IMAGE_VERSION: ["3.8"]
  script:
    - |
      if [ -n "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}" ]; then
        git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME;
        echo "Comparing to $CI_MERGE_REQUEST_TARGET_BRANCH_NAME";
        REF="origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}";
      else
        REF=""
      fi
    - 'declare FILES=$(git diff --name-only ${CI_COMMIT_SHA} $REF | grep "\.py$")'
    - 'echo "Changed files are $FILES"'
    - |
      if [ -n "${FILES}" ]; then
        make show_lint_python $(echo $FILES | xargs)
      else
        echo "Nothing to lint"
      fi

lint_eslint:
  extends: .test
  parallel:
    matrix:
      # Lint only on 'primary' python version:
      - PYTHON_IMAGE_VERSION: ["3.8"]
  script:
    - make show_lint_eslint

.pytest:
  extends: .test
  script:
    - poetry run pytest -v --cov-report= --cov meltano -m "$PYTEST_MARKERS"
    - poetry run coverage combine .coverage
    - poetry run coverage report
    - poetry run coverage html
  artifacts:
    paths:
      - htmlcov/
    when: on_success

.pytest_postgres:
  extends: .pytest
  variables:
    PYTEST_BACKEND: postgresql

    # `postgres` service configuration
    POSTGRES_HOST_AUTH_METHOD: trust
    POSTGRES_ADDRESS: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: runner
    POSTGRES_PASSWORD: ""
    POSTGRES_DB: pytest_warehouse

    # `target-postgres` configuration
    PG_ADDRESS: $POSTGRES_ADDRESS
    PG_PORT: $POSTGRES_PORT
    PG_USERNAME: $POSTGRES_USER
    PG_PASSWORD: $POSTGRES_PASSWORD
    PG_DATABASE: $POSTGRES_DB
  services:
    - postgres:11

.pytest_sqlite:
  extends: .pytest
  variables:
    PYTEST_BACKEND: sqlite

    # `target-sqlite` configuration
    SQLITE_DATABASE: pytest_warehouse

.pytest_concurrent:
  variables:
    PYTEST_MARKERS: concurrent
  tags:
    - concurrent
  when: manual

pytest_fast:
  extends:
    - .pytest_sqlite
    - .fast_test
  variables:
    PYTEST_MARKERS: not concurrent

pytest_postgres:
  extends: .pytest_postgres
  variables:
    PYTEST_MARKERS: not concurrent

pytest_postgres_concurrent:
  extends:
    - .pytest_postgres
    - .pytest_concurrent

pytest_sqlite:
  extends: .pytest_sqlite
  variables:
    PYTEST_MARKERS: not concurrent

pytest_sqlite_concurrent:
  extends:
    - .pytest_sqlite
    - .pytest_concurrent
